body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 400px;
  width: 500px;
  background: rgb(255, 166, 181);
  color: white;

  padding: 0;
  margin: 0;
}

.heading {
  height: 40px;
  line-height: 40px;
  background: rgb(255, 140, 159);
  border-bottom: 2px solid pink;
  text-align: center;
  user-select: none;
}

.heading-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
}

.popup-body {
  margin: 12px;
}

.settings-item {
  padding: 4px;
  display: block;
  border-bottom:2px solid pink;
}

.settings-item-label {
  display: inline;
  width: 50%;
  text-align: left;
  font-weight: bold;
}

.settings-item-input {
  display: inline;
  text-align: right;
  float: right;
  vertical-align: middle;
}

#cur-refresh-val {
  width: 30px;
  display: inline;
}

#currency {
  width: 26px;
  display: inline;
}

#output {
  width: 80%;
}

input[type="text"]:focus,
input[type="text"] {
  border: none;
  outline: none;
  background: rgb(255, 119, 141);
  border-radius: 3px;
  color: white;
  padding: 6px;
}

#cur-list {
  list-style: none;
}

.cur-item {
  cursor: pointer;
}