body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 400px;
  width: 400px;
  background: rgb(255, 166, 181);
  color: white;

  padding: 0;
  margin: 0;
}

.heading {
  height: 40px;
  line-height: 40px;
  background: rgb(255, 140, 159);
  border-bottom: 2px solid pink;
  text-align: center;
  user-select: none;
}

.heading-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
}

.popup-body {
  margin: 12px;
}

.settings-item {
  display: block;
}

.settings-item-label {
  display: inline;
  width: 50%;
  text-align: left;
  font-weight: bold;
}

.settings-item-input {
  display: inline;
  text-align: right;
  float: right;
  vertical-align: middle;
}